In [213]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import math
from thefuzz import process
from thefuzz import fuzz

# Read ICD code on Severe Maternal Morbidity

In [214]:
sheet_to_df_map = pd.read_excel("Dataset/AIM-SMM-Code-List_04042023.xlsx", sheet_name=None, header=None, dtype=str)
sheet_to_df_map.keys()

dict_keys(['Title Page', 'Annotations', 'ICD-9 & 10 SMM Numerator Codes', 'Denominator | Birth Admit Codes', 'Blood Transfusions Codes', 'SMM Denominator | Preeclampsia', 'SMM Denominator | HEM', 'SMM Denominator | CPPSUD', 'SMM Denominator| CCOC ', 'SMM Denominator| SOC', 'SMM Denominator|PMHC'])

In [215]:
df_icd10_smm = sheet_to_df_map.get("ICD-9 & 10 SMM Numerator Codes").iloc[5:].reset_index(drop=True)

new_header = df_icd10_smm.iloc[0] #grab the first row for the header
df_icd10_smm = df_icd10_smm[1:] #take the data less the header row
df_icd10_smm.columns = new_header #set the header row as the df header

df_icd10_smm.head(5)

,SMM Indicator,Diagnosis or Procedure Code?,ICD-9,ICD-10,ICD-10 Description,Note,Rare Prevalence Group,Complication Group
1,1. Acute myocardial infarction,Diagnosis,410.xx,I21.xx,Acute myocardial infarction,NaN,Acute myocardial infarction & aneurysm,Cardiac
2,NaN,Diagnosis,NaN,I22.x,Subsequent ST elevation (STEMI) and non-ST ele...,NaN,NaN,NaN
3,2. Aneurysm,Diagnosis,441.xx,I71.xx,Aortic aneurysm and dissection,"No I71.7 code exists, so ICD-10 list includes ...",NaN,NaN
4,NaN,Diagnosis,NaN,I79.0,Aneurysm of aorta in diseases classified elsew...,NaN,NaN,NaN
5,3. Acute renal failure,Diagnosis,584.5 - 584.9,N17.x,Acute kidney failure,NaN,Acute renal failure,Renal

In [216]:
# Grab all the codes from ICD-10 and store them in a list 
list_dx = []
dx_smm = df_icd10_smm['ICD-10'].to_list()
 
list_dx.extend(dx_smm)

In [217]:
df_icd10_birth = sheet_to_df_map.get("Denominator | Birth Admit Codes").iloc[6:].reset_index(drop=True)

new_header = df_icd10_birth.iloc[0] #grab the first row for the header
df_icd10_birth = df_icd10_birth[1:] #take the data less the header row
df_icd10_birth.columns = new_header #set the header row as the df header

dx_smm_birth = df_icd10_birth['ICD-10'].to_list()
list_dx.extend(dx_smm_birth)

In [218]:
df_icd10_blood = sheet_to_df_map.get("Blood Transfusions Codes").iloc[4:].reset_index(drop=True)

new_header = df_icd10_blood.iloc[0] #grab the first row for the header
df_icd10_blood = df_icd10_blood[1:] #take the data less the header row
df_icd10_blood.columns = new_header #set the header row as the df header

# df_icd10_blood

dx_smm_blood = df_icd10_blood['ICD-10'].to_list()
list_dx.extend(dx_smm_blood)

In [219]:
df_icd10_pre = sheet_to_df_map.get("SMM Denominator | Preeclampsia").iloc[3:].reset_index(drop=True)

new_header = df_icd10_pre.iloc[0] #grab the first row for the header
df_icd10_pre = df_icd10_pre[1:] #take the data less the header row
df_icd10_pre.columns = new_header #set the header row as the df header

# df_icd10_pre

dx_smm_pre = df_icd10_pre['ICD-10 '].to_list()
list_dx.extend(dx_smm_pre)

In [220]:
df_icd10_hem = sheet_to_df_map.get("SMM Denominator | HEM").iloc[2:].reset_index(drop=True)

new_header = df_icd10_hem.iloc[0] #grab the first row for the header
df_icd10_hem = df_icd10_hem[1:] #take the data less the header row
df_icd10_hem.columns = new_header #set the header row as the df header

df_icd10_hem.head(5)

dx_smm_hem = df_icd10_hem['ICD-10'].to_list()
list_dx.extend(dx_smm_hem)

In [221]:
df_icd10_cpp = sheet_to_df_map.get("SMM Denominator | CPPSUD").iloc[2:].reset_index(drop=True)

new_header = df_icd10_cpp.iloc[0] #grab the first row for the header
df_icd10_cpp = df_icd10_hem[1:] #take the data less the header row
df_icd10_cpp.columns = new_header #set the header row as the df header

df_icd10_cpp.head(5)

dx_smm_cpp = df_icd10_cpp['ICD10 Code'].to_list()
list_dx.extend(dx_smm_cpp)

In [222]:
list_dx = [x for x in list_dx if not (isinstance(x, float) and math.isnan(x))]

list_dx = [element.replace(".", "") for element in list_dx]
list_dx = [element.replace(" ", "") for element in list_dx]

# Delete duplicate 
list_dx = list(set(list_dx)) 

values_to_remove = ['AntepartumHemorrhage', 'Abruption', "AnyPRstartingwith'10A0'", 'Previa']

list_dx = [value for value in list_dx if value not in values_to_remove]

list_dx.sort()
print(list_dx)

['0B110F4', '0B113F4', '0B114F4', '0UT90ZL', '0UT90ZZ', '0UT97ZZ', '10D00Z0-10D00Z2', '10D07Z3-0D07Z8', '10E0XZZ', '30230H0', '30230H1', '30230K0', '30230K1', '30230L0', '30230L1', '30230M0', '30230M1', '30230N0', '30230N1', '30230P0', '30230P1', '30230R0', '30230R1', '30230T0', '30230T1', '30233H0', '30233H1', '30233K0', '30233K1', '30233L0', '30233L1', '30233M0', '30233M1', '30233N0', '30233N1', '30233P0', '30233P1', '30233R0', '30233R1', '30233T0', '30233T1', '30240H0', '30240H1', '30240K0', '30240K1', '30240L0', '30240L1', '30240M0', '30240M1', '30240N0', '30240N1', '30240P0', '30240P1', '30240R0', '30240R1', '30240T0', '30240T1', '30243H0', '30243H1', '30243K0', '30243K1', '30243L0', '30243L1', '30243M0', '30243M1', '30243N0', '30243N1', '30243P0', '30243P1', '30243R0', '30243R1', '30243T0', '30243T1', '5A12012', '5A1935Z', '5A1945Z', '5A1955Z', '5A2204Z', '765', '766', '767', '768', '774', '775', '783', '784', '785', '786', '787', '788', '796', '797', '798', '805', '806', '807', '8883', 'A327', 'A40x', 'A41x', 'A812', 'D570x', 'D5721x', 'D5741x', 'D5781x', 'D65', 'D688', 'D689', 'G45x', 'G46x', 'G9349', 'H340x', 'I21xx', 'I22x', 'I2601', 'I2602', 'I2609', 'I2690', 'I2692', 'I2693', 'I2694', 'I2699', 'I46x', 'I490x', 'I501', 'I5020', 'I5021', 'I5023', 'I5030', 'I5031', 'I5033', 'I5040', 'I5041', 'I5043', 'I50810', 'I50811', 'I50813', 'I50814', 'I5082', 'I5083', 'I5084', 'I5089', 'I509', 'I60xx', 'I61xx', 'I62xx', 'I63xx', 'I65xx', 'I66xx', 'I67xx', 'I68xx', 'I71xx', 'I76', 'I790', 'I9712x', 'I9713x', 'I97711', 'I9781x', 'I9782x', 'ICD-10', 'J80', 'J810', 'J951', 'J952', 'J953', 'J9582x', 'J960x', 'J962x', 'J969x', 'N17x', 'O00x', 'O01x', 'O02x', 'O03x', 'O04x', 'O07x', 'O08x', 'O111', 'O112', 'O113', 'O114', 'O115', 'O119', 'O1410', 'O1412', 'O1413', 'O1414', 'O1415', 'O1420', 'O1422', 'O1423', 'O1424', 'O1425', 'O1500', 'O1502', 'O1503', 'O151', 'O152', 'O159', 'O15x', 'O2250', 'O2252', 'O2253', 'O29112', 'O29113', 'O29119', 'O29122', 'O29123', 'O29129', 'O29192', 'O29193', 'O29199', 'O29212', 'O29213', 'O29219', 'O29292', 'O29293', 'O29299', 'O43212', 'O43213', 'O43219', 'O43222', 'O43223', 'O43229', 'O43232', 'O43233', 'O43239', 'O4410', 'O4412', 'O4413', 'O4430', 'O4432', 'O4433', 'O4450', 'O4452', 'O4453', 'O45002', 'O45003', 'O45009', 'O45012', 'O45013', 'O45019', 'O45022', 'O45023', 'O45029', 'O45092', 'O45093', 'O45099', 'O458X2', 'O458X3', 'O458X9', 'O4590', 'O4592', 'O4593', 'O46002', 'O46003', 'O46009', 'O46012', 'O46013', 'O46019', 'O46022', 'O46023', 'O46029', 'O46092', 'O46093', 'O46099', 'O468X2', 'O468X3', 'O468X9', 'O4690', 'O4692', 'O4693', 'O670', 'O720', 'O721', 'O722', 'O723', 'O740', 'O741', 'O742', 'O743', 'O751', 'O7582', 'O80', 'O82', 'O85', 'O8604', 'O873', 'O88012', 'O88013', 'O88019', 'O8802', 'O8803', 'O88112', 'O88113', 'O88119', 'O8812', 'O8813', 'O88212', 'O88213', 'O88219', 'O8822', 'O8823', 'O88312', 'O88313', 'O88319', 'O8832', 'O8833', 'O88812', 'O88813', 'O88819', 'O8882', 'O890x', 'O891', 'O892', 'O904', 'OUT97ZL', 'R0603', 'R092', 'R57x', 'R6520', 'R6521', 'T782XXA', 'T800XXA', 'T8110XA', 'T8111XA', 'T8112XA', 'T8119XA', 'T8144XA', 'T882XXA', 'T883XXA', 'T886XXA', 'Z37xx']

In [223]:
print("ICD codes on Maternal Morbidity: ", len(list_dx))

ICD codes on Maternal Morbidity:  333

# Read HCUP ICD code to CCSR code

In [224]:
df_dx_ccsr = pd.read_excel("Dataset/HCUP-CCSR/DXCCSR-Reference-File-v2024-1.xlsx", sheet_name="DX_to_CCSR_Mapping", header=None).iloc[1:].reset_index(drop=True)

new_header = df_dx_ccsr.iloc[0] #grab the first row for the header
df_dx_ccsr = df_dx_ccsr[1:] #take the data less the header row
df_dx_ccsr.columns = new_header #set the header row as the df header

df_dx_ccsr

,ICD-10-CM Code,ICD-10-CM Code Description,CCSR Category,CCSR Category Description,Inpatient Default CCSR (Y/N/X),Outpatient Default CCSR (Y/N/X),Rationale for Default Assignment
1,A000,"Cholera due to Vibrio cholerae 01, biovar chol...",DIG001,Intestinal infection,Y,Y,06 Infectious conditions
2,A000,"Cholera due to Vibrio cholerae 01, biovar chol...",INF003,Bacterial infections,N,N,06 Infectious conditions
3,A001,"Cholera due to Vibrio cholerae 01, biovar eltor",DIG001,Intestinal infection,Y,Y,06 Infectious conditions
4,A001,"Cholera due to Vibrio cholerae 01, biovar eltor",INF003,Bacterial infections,N,N,06 Infectious conditions
5,A009,"Cholera, unspecified",DIG001,Intestinal infection,Y,Y,06 Infectious conditions
...,...,...,...,...,...,...,...
86852,Z992,Dependence on renal dialysis,FAC025,Other specified status,X,Y,99 Unacceptable PDX
86853,Z993,Dependence on wheelchair,FAC025,Other specified status,X,Y,99 Unacceptable PDX
86854,Z9981,Dependence on supplemental oxygen,FAC025,Other specified status,X,Y,99 Unacceptable PDX
86855,Z9989,Dependence on other enabling machines and devices,FAC025,Other specified status,X,Y,99 Unacceptable PDX
86856,End of Content,NaN,NaN,NaN,NaN,NaN,NaN

In [225]:
# print(df_dx_ccsr.shape)
# df_dx_ccsr.dtypes

In [226]:
list_ccsr = df_dx_ccsr['ICD-10-CM Code'].sort_values(ascending=True).to_list()

# Delete duplicate 
list_ccsr = list(set(list_ccsr)) 

print("Total number of ICD codes on HCCUP:", len(list_ccsr))

Total number of ICD codes on HCCUP: 74987

# Cross-Matching DX code on Maternal Mobidity for CCSR (HCUP)

In [227]:
set_dx = set(list_dx)
set_ccsr = set(list_ccsr)

def get_matched_pairs(set_dx, set_ccsr):
    """
    Create a list of matched pairs from the intersections between two sets.

    Args:
        set_dx (set): A set of elements.
        set_ccs (set): Another set of elements.

    Returns:
        list: A list of tuples, where each tuple represents a matched pair.
    """
    intersection = set_dx.intersection(set_ccsr)
    matched_pairs = [(x, x) for x in intersection]
    return matched_pairs

matched_pairs = get_matched_pairs(set_dx, set_ccsr)
matched_list = [item for pair in matched_pairs for item in pair]

# matched_list

In [228]:
print("Numbers of exact matches for Maternal Morbidity ICD-10 codes and HCUP CCSR codes:", len(matched_list))

Numbers of exact matches for Maternal Morbidity ICD-10 codes and HCUP CCSR codes: 384

In [201]:
list_dx_new

['0B110F4',
 '0B113F4',
 '0B114F4',
 '0UT90ZL',
 '0UT90ZZ',
 '0UT97ZZ',
 '10D00Z0-10D00Z2',
 '10D07Z3-0D07Z8',
 '10E0XZZ',
 '30230H0',
 '30230H1',
 '30230K0',
 '30230K1',
 '30230L0',
 '30230L1',
 '30230M0',
 '30230M1',
 '30230N0',
 '30230N1',
 '30230P0',
 '30230P1',
 '30230R0',
 '30230R1',
 '30230T0',
 '30230T1',
 '30233H0',
 '30233H1',
 '30233K0',
 '30233K1',
 '30233L0',
 '30233L1',
 '30233M0',
 '30233M1',
 '30233N0',
 '30233N1',
 '30233P0',
 '30233P1',
 '30233R0',
 '30233R1',
 '30233T0',
 '30233T1',
 '30240H0',
 '30240H1',
 '30240K0',
 '30240K1',
 '30240L0',
 '30240L1',
 '30240M0',
 '30240M1',
 '30240N0',
 '30240N1',
 '30240P0',
 '30240P1',
 '30240R0',
 '30240R1',
 '30240T0',
 '30240T1',
 '30243H0',
 '30243H1',
 '30243K0',
 '30243K1',
 '30243L0',
 '30243L1',
 '30243M0',
 '30243M1',
 '30243N0',
 '30243N1',
 '30243P0',
 '30243P1',
 '30243R0',
 '30243R1',
 '30243T0',
 '30243T1',
 '5A12012',
 '5A1935Z',
 '5A1945Z',
 '5A1955Z',
 '5A2204Z',
 '765',
 '766',
 '767',
 '768',
 '774',
 '775',
 '783',
 '784',
 '785',
 '786',
 '787',
 '788',
 '796',
 '797',
 '798',
 '805',
 '806',
 '807',
 '8883',
 'A40x',
 'A41x',
 'Abruption',
 'Abruption',
 'AntepartumHemorrhage',
 'AntepartumHemorrhage',
 "AnyPRstartingwith'10A0'",
 'D570x',
 'D5721x',
 'D5741x',
 'D5781x',
 'G45x',
 'G46x',
 'H340x',
 'I21xx',
 'I22x',
 'I46x',
 'I490x',
 'I60xx',
 'I61xx',
 'I62xx',
 'I63xx',
 'I65xx',
 'I66xx',
 'I67xx',
 'I68xx',
 'I71xx',
 'I9712x',
 'I9713x',
 'I9781x',
 'I9782x',
 'ICD-10',
 'ICD-10',
 'ICD-10',
 'ICD-10',
 'ICD-10',
 'ICD-10',
 'ICD-10',
 'ICD-10',
 'ICD-10',
 'ICD-10',
 'J9582x',
 'J960x',
 'J962x',
 'J969x',
 'N17x',
 'O00x',
 'O01x',
 'O02x',
 'O03x',
 'O04x',
 'O07x',
 'O08x',
 'O15x',
 'O890x',
 'OUT97ZL',
 'Previa',
 'Previa',
 'R57x',
 'Z37xx']

In [179]:
# Convert the search_list to a set for faster lookup
list_dx_new = [value for value in list_dx if value not in matched_list]

list_ccsr_new = [value for value in list_ccsr if value not in matched_list]

series_dx_new = pd.Series(list_dx_new)

series_dx_matched = series_dx_new.apply(
  lambda x: process.extractOne(x, list_ccsr_new, scorer=fuzz.ratio)[0]
)

series_dx_matched

0        A0104
1       H01134
2       H01144
3         C090
4         C090
        ...
152      O0970
153        I5A
154        I5A
155       R457
156    O337XX0
Length: 157, dtype: object

In [180]:
#Create a column name  for series_dx_changed
series_dx_matched = series_dx_matched.to_frame('ICD-10-CM Code')
# Add a new column for the original ICD-10 code
series_dx_matched['Original'] = series_dx_new

series_dx_matched

    ICD-10-CM Code Original
0            A0104  0B110F4
1           H01134  0B113F4
2           H01144  0B114F4
3             C090  0UT90ZL
4             C090  0UT90ZZ
..             ...      ...
152          O0970  OUT97ZL
153            I5A   Previa
154            I5A   Previa
155           R457     R57x
156        O337XX0    Z37xx

[157 rows x 2 columns]

In [ ]:
# Find the subset where the column contains any element from the search_list
df_dx_ccsr_mm = df_dx_ccsr[df_dx_ccsr['ICD-10-CM Code'].isin(search_set_dx_mm)]
print(df_dx_ccsr_mm.shape)
# The first filtered dataset 
df_dx_ccsr_mm

In [ ]:
series_dx = pd.Series(list_dx)
series_dx_changed = series_dx.apply(
  lambda x: process.extractOne(x, df_dx_ccsr["ICD-10-CM Code"], scorer=fuzz.ratio)[0]
)
#Create a column name  for series_dx_changed
series_dx_changed = series_dx_changed.to_frame('ICD-10-CM Code')
# Add a new column for the original ICD-10 code
series_dx_changed['Original'] = series_dx

series_dx_changed

In [ ]:
# match the ICD-10 codes in the list_dx to the ICD-10-CM codes in the df_dx_ccsr dataframe using regular expression

In [ ]:
# Regular expression pattern
import re
pattern = r'^(\w+*)$'

# Match the two lists
matched_pairs = []
for item1 in list_dx:
    for item2 in list_ccsr:
        match = re.match(pattern, item2)
        if match and match == item1:
            matched_pairs.append((item1, item2))

# Print the matched pairs
print("Matched pairs:")
for pair in matched_pairs:
    print(pair)

In [ ]:
# df_ccsr_MM = pd.merge(df_icd10_smm, df_dx_ccsr, how='right', left_on='ICD-10', right_on='ICD-10-CM Code',suffixes=('_mm','_ccsr'))
#                       
# df_ccsr_MM